.list-item-container{
    border-bottom: 1px solid #F2F2F2;
    margin-bottom:10px;
    display:inline-block; 
    padding-bottom:10px;
    width:100%;
    cursor: pointer;
    
  
    .status-icon{
        float:left;
        margin-top: 12px;
        margin-left:10px;
    }
    .label{
        margin-left:10px;
        float:left;
        h2{
            font-size:16px;
            margin-top: 11px;
            color: #000;
        }
        .under-text{
            font-size: 10px;
            line-height: 12px;
            margin-top: -4px;
            color: #98a2a9;
            max-width: 300px;
        }
    }
    .arrow{
        margin-top: 10px;
        
    }
    &:hover{
        color:#727272;            
     }
}
.expandable{
    cursor: pointer;
    
}