.site-footer {
    background-color: #fff;       
    opacity: 0.4;
    filter: alpha(opacity=40);
    // position: absolute;
    // right: 0;
    // bottom: 0;
    // left: 0;
    padding: 5px;
    background-color: #efefef;
    text-align: center;
}